body {
    background-color: #CCCCFF;
    font-size: 14pt;
    font-weight: bold;
}

h5 {
    font-size: 32pt;
    align-content: center;
    margin: 0;
    text-align: center;
}

.viewareadiv {
    text-align: center;
}

textarea {
    width: 90%;
    height: 400px;
    font-family: monospace;
    font-size: 12pt;
}

fieldset {
    border: 5px outset black;
    display: inline-block;
}

legend {
    text-align: left;
}

.fieldsets {
    text-align: center;
}

.validator {
    position: absolute;
    right: 0;
}